@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css');

/* all pages */
main {
  margin-left: 200px;
  box-sizing: border-box;
}
input[type="text"], input[type="password"], input[type="date"], input[type="month"], input[type="number"] {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-indent: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #D1A6A6;
  box-sizing: border-box;
}
input:focus {
  outline: 1.5px solid #D1A6A6
}
select, option {
  width: fit-content;
  height: 40px;
  border: 1px solid #D1A6A6;
  border-radius: 5px;
  padding-left: 5px;
  cursor: pointer;
}
select:focus {
  outline: 1.5px solid #D1A6A6
}
button {
  width: fit-content; 
  height: 30px;
  background-color: white;
  color: #D1A6A6;
  border: 1px solid #D1A6A6;
  border-radius: 5px;
  cursor: pointer;
}
button.loading {
  width: 50px !important;
  height: 50px !important;
  border: 5px solid #D1A6A6 !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  color: transparent !important;
  user-select: none !important;
  animation: 1s reloader infinite linear;
}
button:hover {
  background-color: #D1A6A6;
  color: white;
}

/* all items page */
.board-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100px;
  p {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px solid #D1A6A6;
    border-radius: 10px;
    padding: 20px;
  }
}
div.control-bar {
  background-color: #F0F0F0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  .filter-and-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    .create-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: black;
      text-decoration: none;
      gap: 5px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid #D1A6A6;
      padding: 10px;
      p {
        margin-block-start: 0;
        margin-block-end: 0;
      }
    } 
  }
}
table {
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  border-spacing: 0px 10px;
  border-radius: 10px;
  thead {
    background-color: #D1A6A6;
    height: 50px;
    font-weight: bolder;
    text-align: center;
    text-transform:capitalize;
  }
  td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  a {
    width: fit-content; 
    height: 30px;
    background-color: white;
    color: #D1A6A6;
    border: 1px solid #D1A6A6;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
  }
  a:hover {
    background-color: #D1A6A6;
    color: white;
  }
  img {
    border-radius: 10px;
    width: 40px;
    aspect-ratio: 1/1;
  }
}
div.table {
  /* overflow-x: auto; */
  margin-top: 20px;
  background-color: #F0F0F0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  div.table-button {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  table.all-items {
    tbody {
      tr {
        background-color: white;
        height: 50px;
        position: relative;
      }
      tr:hover {filter: brightness(80%)}
    }
    td {text-align: center};
    td.loading {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: white;
      border-radius: 10px;
      z-index: 99;
      animation: flicker 1s infinite;
    }
  }
}
div.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
}
span.pagination {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 10px;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 20px;
    color: black;
    cursor: pointer;
  }
  p.current {
    border-color: #D1A6A6;
    background-color: #D1A6A6;
    color: white;
    width: 25px;
    height: 25px;
  }
}

/* create item page */
.admin-create-brand-container,
.admin-create-customer-container, 
.admin-create-employee-container,
.admin-create-order-container,
.admin-create-product-container,
.admin-create-purchase-container,
.admin-create-store-container,
.admin-create-supplier-container,
.admin-create-voucher-container {
  display: flex;
  align-items: center;
  justify-content: center;
  div#form {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    height: fit-content;
    .form-title {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: larger;
        font-weight: bolder;
        text-transform: uppercase
      };
    }
    .form-group {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
      box-sizing: border-box;
      gap: 10px;
      padding: 5px 10px 5px 10px;
      label { 
        width: 20%; 
        text-align: right; 
        align-self: center;
        flex: 0 0 auto
      }
      input { 
        width: 80%;
        flex: 1
      }
      .form-message {
        flex-basis: 100%;
        text-align: center;
      }
    }
  }
}

/* detail item page */
.brand-details-container,
.customer-details-container,
.employee-details-container,
.order-details-container,
.product-details-container,
.profile-details-container,
.purchase-details-container,
.store-details-container,
.supplier-details-container,
.voucher-details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  div#form {
    width: 100%;
    table {
      tbody {
        td {
          height: fit-content;
          border-bottom: 1px solid black;
          padding: 10px;
          ::placeholder {color: black}
          input[type='text'] { width: 80% }
        }
      }
    }
    #table-1 {td:first-child {width: 20%}}
    #table-2 {
      tbody {
        td {text-align: center};
        td:nth-child(1) {
          p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2; 
            -webkit-box-orient: vertical;
            margin-block-start: 0px !important;
            margin-block-end: 0px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  main {margin-left: 70px;}
  .admin-all-products-container { 
    .board-title {
      p { font-size: 25px;}
    }
    tbody, thead {
      td:nth-child(1) { display: none;}
      td:nth-child(2) { display: none;}
      td:nth-child(3) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      td:nth-child(4) { display: none;}
      td:nth-child(5) { display: none;}
    }
    .modal-content {
      width: 80% !important;
    }
  } 
}