<div class="admin-all-customers-container">  
  <div class="board-title">
    <p>Khách Hàng: </p>
  </div>

  <div class="control-bar">
    <div class="filter-and-create">
      <div class="sort">
        <label>Sắp xếp:</label>
        <select id="revenue" class="filter-btn">
          <option value="">Doanh thu</option>
          <option value="1">Doanh thu tăng dần</option>
          <option value="-1">Doanh thu giảm dần</option>
        </select>

        <select id="quantity" class="filter-btn">
          <option value="">Đơn hàng</option>
          <option value="1">Đơn hàng tăng</option>
          <option value="-1">Đơn hàng giảm</option>
        </select>
      </div>

      <div class="filter">
        <label>Lọc:</label>
        <select id="gender" class="filter-btn">
          <option value="">Giới tính</option>
          <option value="male">Nam</option>
          <option value="female">Nữ</option>
        </select>

        <select id="memberCode" class="filter-btn">
          <option value="">Hạng thành viên</option>
        </select>
      </div>
      <button id="clear-sort-filter" style="display: none">Xoá bộ lọc</button>

      <a target="_blank" rel="noopener noreferrer" href="/admin/all-customers/customer/create" class="create-btn" id="create-btn">
        <i class="fi fi-rr-plus"></i>
        <p>Thêm Khách Hàng</p>
      </a>
    </div>
    
    <div class="search">
      <select id="search-type" class="search-btn">
        <option value="">Tìm kiếm theo</option>
        <option value="_id" selected>ID</option>
        <option value="name">Tên</option>
        <option value="email">Email</option>
        <option value="phone">Số điện thoại</option>
        <option value="address">Địa chỉ</option>
      </select>
      <input type="text" id="search-input" name="name" placeholder="Tìm kiếm khách hàng">
    </div>
  </div> 

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width: 5% ">STT           </td>
          <td style="width: 15%">Mã Khách hàng </td>
          <td style="width: 15%">Tên Khách Hàng</td>
          <td style="width: 25%">Địa chỉ       </td>
          <td style="width: 10%">S/L Đơn       </td>
          <td style="width: 20%">Tổng doanh thu</td>
          <td style="width: 10%">Chi tiết      </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/customer.js"></script>