<div class="admin-all-suppliers-container">  
  <div class="board-title">
    <p>Nhà cung cấp:</p>
  </div>

  <div class="control-bar">
    <div class="filter-and-create">
      <div class="sort">
        <label>Sắp xếp theo:</label>
        <select id="quantity" class="filter-btn">
          <option value="">Số lượng đơn</option>
          <option value="1">Số lượng đơn tăng dần</option>
          <option value="-1">Số lượng đơn giảm dần</option>
        </select>

        <select id="totalCost" class="filter-btn">
          <option value="">Tổng chi phí</option>
          <option value="1">Tổng chi phí tăng dần</option>
          <option value="-1">Tổng chi phí giảm dần</option>
        </select>
      </div>

      <div class="filter">
        <label>Lọc theo:</label>
        <select id="revenue" class="filter-btn">
          {{!-- <option value="">Doanh thu</option>
          <option value="1">Doanh thu tăng dần</option>
          <option value="-1">Doanh thu giảm dần</option> --}}
        </select>
      </div>

      <button id="clear-filter" style="display: none">Xoá bộ lọc</button>

      <a href="/admin/all-suppliers/supplier/create" class="create-btn" id="create-btn">
        <i class="fi fi-rr-plus"></i>
        <p>Thêm Nhà Cung Cấp</p>
      </a>
    </div>
    <input type="text" id="search-input" name="name" placeholder="Tìm kiếm nhà cung cấp">
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">STT              </td>
          <td style="width: 15%">Mã nhà cung cấp  </td>
          <td style="width: 20%">Tên nhà cung cấp </td>
          <td style="width: 20%">Địa chỉ          </td>
          <td style="width: 15%">Tổng đơn nhập    </td>
          <td style="width: 15%">Tổng Chi phí     </td>
          <td style="width: 10%">Chi tiết         </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script src="/js/admin/all/supplier.js"></script>