<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="I6NmnMAS5Resm_EUWaaHtPiaXpCoJyPcG77zdvu1hNo"/>
  <meta name="description" content="Buny Store - Cửa hàng mỹ phẩm chính hãng với sản phẩm chăm sóc da và trang điểm từ thương hiệu uy tín. Khám phá bí quyết làm đẹp tại Buny Store!">
  <link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/bunny-store/image/upload/v1730101524/web-img/image_fdrqpl.png" />
  <link rel="stylesheet" href="/css/layouts/template.css">
  <link rel="stylesheet" href="/css/user/body.css">
  <link rel="stylesheet" href="/css/partials/header.css">
  <link rel="stylesheet" href="/css/partials/fixedComponents.css">
  <link rel="stylesheet" href="/css/partials/footer.css" media="print" onload="this.media='all'">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="canonical" href="https://bunny-store.vercel.app/home">
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js" integrity="sha512-v3fZyWIk7kh9yGNQZf1SnSjIxjAKsYbg6UQ+B+QxAZqJQLrN3jMjrdNwcxV6tis6S0s1xyVDZrDz9UoRLfRpWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/themes/odometer-theme-default.css" integrity="sha512-kMPqFnKueEwgQFzXLEEl671aHhQqrZLS5IP3HzqdfozaST/EgU+/wkM07JCmXFAt9GO810I//8DBonsJUzGQsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/js/layouts/users.js"></script>
  <script src="/js/importLinkCss.js"></script>
  <script src="/js/checkInput.js"></script>
  <script src="/js/pushNotification.js"></script>
  <script src="/js/sortAndFilter.js"></script>
  <script src="/js/format.js"></script>
  <title>{{title}}</title>
</head>
<body>
  <div class="preloader">
    <div class="loading"></div>
    <h3 style="color: #D1A6A6;"></h3>
  </div>
  <header>{{> userHeader}}</header>
  <main>{{{body}}}</main>
  <div>{{> fixedComponents}}</div>
  <footer>{{> userFooter}}</footer>
</body>
</html>

<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@5"></script>
<script src="/js/tippy.js"></script>