.user-all-brands-container {
  width: 100%;
  overflow: hidden;
  .all-brands {
    scroll-behavior: smooth;
    align-items: center;
    gap: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, minmax(min(11.25rem, 100%), 1fr));
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .brand {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: space;
    justify-content: space-around;
    height: 100px;
    padding: 10px;
    img {
      max-width: 100px;
      aspect-ratio: 1/1;
    }
    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: space-around;
      text-decoration: none; 
      color: black;
    }
  }
  .brand.loading {
    animation: flicker 1s infinite;
  }
}

@keyframes flicker {
  0% { background-color: #ffffff; }
  50% { background-color: #eeeeee; }
  100% { background-color: #ffffff; }
}