.all-orders-container {
  .cart, .voucher, .contact-info, .payment-method {
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    p {
      background-color: #F0F0F0;
      height: fit-content;
      padding: 10px;
      text-transform: capitalize;
      font-weight: bolder;
      margin-block-start: 0px;
      margin-block-end: 0px;
      font-size: x-large;
      text-align: center;
      border-radius: 5px;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
  }
  .cart {
    table, thead, td, tfoot {
      text-align: center;
    }
    table {
      tfoot {
        background-color: #D1A6A6;
        height: 50px;
        font-weight: bolder;
      }
      tbody {
        td {height: 100px}
        tr {
          position: relative;
          img {
            width: 75px;
            aspect-ratio: 1/1;
          }
          a { 
            text-decoration: none; 
            color: black;
            padding-left: 0 !important;
            border: none;
            background-color: transparent !important
          }
          .delete-button {cursor: pointer}
        }
      }
      td.unavailable {
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 100%;
        background: rgba(200, 200, 200, 0.7); /* Semi-transparent red overlay */
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        z-index: 10;
        border-radius: 10px;
      }
    }
  }
  .voucher {
    input#voucher-code {
      margin-top: 10px;
      text-align: center;
    }
    .price {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      gap: 5px;
      padding: 5px;
      box-sizing: border-box;
      .old-price, .new-price {
        height: 30px;
        padding: 5px;
        box-sizing: border-box;
        .old-price-value, .new-price-value {
          width: fit-content;
          border-radius: 5px;
          border: 1px solid #D1A6A6;
          padding: 5px;
        }
      }
    }
  }
  .contact-info {
    .info {
      display: grid;
      grid-template-columns: auto auto;
      .form-group {
        width: 80%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      label {
        font-weight: bolder;
        text-transform: capitalize;
      }
    }
  }
  .payment-method {
    .form-group {
      padding: 10px;
      gap: 5px;
    }
    label {
      font-weight: bolder;
      text-transform: capitalize;
    }
    .bank-account {
      width: 100%;
      background-color: #FFDFDF;
      border-radius: 5px;
      padding: 5px;
      display: flex;
      justify-content: start;
      .bank-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
      }
      img {
        width: 200px;
      }
    }
    .bank-account {
      display: none;
    }
    input[value="transfer"]:checked ~ .bank-account {
      display: flex;
    }
  }

}
.order-successfully-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  border: 1px solid #FFDFDF;
  border-radius: 10px;
  height: 60%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  i {
    color: #D1A6A6;
    font-size: 50px;
  }
  h5 {
    text-align: center;
    font-style: italic;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  button {
    width: max-content; 
    height: fit-content;
    background-color: white;
    color: #D1A6A6;
    border: 1px solid #D1A6A6;
    border-radius: 5px;
    cursor: pointer;
  };
}
@media screen and (max-width: 700px) {
  table {
    a {
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  table tr td:nth-child(2) {
    width: 20% !important;
  }
  .contact-info .info{
    grid-template-columns: auto !important
  }
}