.sign-up-container, .sign-in-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .sign-up-form, .sign-in-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    img { width: 50% };
    .form {
      width: 100%;
      padding: 5px;
      .form-title {
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: bolder;
        margin-block-start: 0em;
        margin-block-end: 0em;
      }
      .form-group {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        a {
          color: black;
          text-decoration: none;
          font-style: italic;
        }
        a:hover {
          text-decoration: underline;
        }
        input {
          width: 80%;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #D1A6A6;
          text-indent: 10px;
          padding-block: 0px;
        };
        p {
          font-size: 13px;
          margin-block-start: 0;
          margin-block-end: 0;
          font-style: italic;
          justify-self:end
        }
        p:hover {
          text-decoration: underline;
        }
      }
      .form-action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        button {
          width: 80%;
          height: 40px;
          background-color: #D1A6A6;
          color: white;
          border: 1px solid white;
          border-radius: 5px;
          cursor: pointer;
        };
        button:hover {
          background-color: white;
          color:  #D1A6A6;
          border: 1px solid white ;
          border-color: #D1A6A6;
        }
      } 
      .sign-in {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        p {
          font-size: 13px;
          margin-block-start: 0;
          margin-block-end: 0;
          font-style: italic;
          justify-self:end
        }
        p:hover {
          text-decoration: underline;
        }
      }
      .sign-up {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
        p {
          font-size: 13px;
          margin-block-start: 0;
          margin-block-end: 0;
          font-style: italic;
          justify-self:end
        }
        p:hover {
          text-decoration: underline;
        }
      }
    }
    .emp-sign-in {
      position: fixed;
      bottom: 0;
      right: 0;
      left: auto;
      width: 30px;
      height: 30px;
      background: linear-gradient(to bottom right, #FFDFDF 0%, #FFDFDF 50%, #D1A6A6 50%, #D1A6A6 100%)
    }
  }
}
@media screen and (max-width: 700px) {
  .sign-up-form, .sign-in-form {
    flex-direction: column;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    transform: none !important;
    border: none !important;
    box-shadow: none !important;
    img { width: 100% !important;}
    .form-input {
      width: 100% !important;
      padding: 5px;
    }
  }
}

@keyframes reloader {
  to { transform: rotate(360deg)}
}