body {
  background-color: #FFDFDF;
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {width: 10px;}
body::-webkit-scrollbar-track {background: #FFDFDF; }
body::-webkit-scrollbar-thumb {background: #D1A6A6; border-radius: 5px;}
body::-webkit-scrollbar-thumb:hover {background: #D1A6A6;}
.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #FFDFDF;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
  transition: 0.5s;
  .loading {
    width: 50px;
    height: 50px;
    border: 5px solid #D1A6A6;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: 1s reloader infinite linear;
  }
}
.preloader.inactive {
  opacity: 0;
  pointer-events: none;
}
div.notification {
  position: fixed;
  opacity: 0;
  left: 50%;
  transform: translate(-50%);
  height: fit-content;
  width: 300px;
  z-index: 9999;
  background-color: white;
  color: #567A0D;
  border-radius: 10px;
  border: 1px solid #D1A6A6;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: notification;
  animation-duration: 3s;
  animation-timing-function: linear
}
div.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .container {
      padding: 16px;
      text-align: center;
    }
    .cancelbtn {
      background-color: #ccc;
      color: black;
      width: 25%;
    }
    .deletebtn {
      background-color: #f44336;
      color: black;
      width: 25%;
    }
  }
}
div.clearfix::after {
  content: "";
  clear: both;
  display: table;
} 

@keyframes notification {
  0%    {opacity: 0; top: 0}
  25%   {opacity: 1; top: 5%}
  50%   {opacity: 1; top: 5%}
  75%   {opacity: 1; top: 5%}
  100%  {opacity: 0; top: 0}
}
@keyframes reloader {
  to { transform: rotate(360deg); }
}
@keyframes flicker {
  0% { background-color: #eeeeee; }
  50% { background-color: #ffffff; }
  100% { background-color: #eeeeee; }
}