<div class="introduce-container">  
    <div>
      Cosmetic Garden là đơn vị chuyên cung cấp các dịch vụ sản xuất gia công mỹ phẩm trọn gói và phát triển sản phẩm mới trong lĩnh vực mỹ phẩm theo phương thức OEM/ ODM. Với hơn 10 năm kinh nghiệm trong lĩnh vực nghiên cứu và sản xuất mỹ phẩm,dây chuyền sản xuất và nguyên liệu chính được nhập khẩu từ Hàn Quốc, Cosmetic Garden tự tin sẽ là đơn vị gia công mỹ phẩm hàng đầu tại Việt Nam.
    </div>

    <div>
      <head>Về chúng tôi</head>
      Cosmetic Garden là nhà máy sở hữu Công nghệ Ingredient Check đầu tiền tại Việt Nam. Cosmetic Garden sở hữu nhà máy gia công mỹ phẩm đạt tiêu tất cả tiêu chuẩn Bộ Y Tế trong việc sản xuất gia công mỹ phẩm . Chứng nhận cGMP sản phẩm khi ra thị trường đều được kiểm tra quy định chất lượng nghiêm ngặt.
      Cosmetic Garden hoàn toàn tự tin với chất lượng với sản phẩm khi đến tay Khách hàng – và người tiêu dùng . Tất cả quy trình sản xuất , quy trình đóng gói , hệ thống trang thiết bị , dây chuyền đều được chuyển giao từ Hàn Quốc.
      10 năm trong việc phát triển sản phẩm & cung cấp thiết bị cho các Thẩm Mỹ Viện – Spa hàng đầu Việt ,chúng tôi hiểu – biết và luôn lắng nghe Khách Hàng vì thế chúng tôi hiểu rõ thị trường và khách hàng hơn ai hết. Khách hàng đến với Cosmetic Garden luôn được trân trọng về con người và chất lượng sản phẩm.
    </div>

    <div>
      <head>QUY MÔ</head>
      Cosmetic Garden sở hữu nhà máy đạt chuẩn cGMP và hệ thống dây chuyền sản xuất hiện đại, đạt tiêu chuẩn về quản lý chất lượng. Tất cả hệ thống dây chuyền sản xuất tại nhà máy và nguyên liệu sản xuất mỹ phẩm đều được nhập hoàn toàn từ Hàn Quốc; đồng thời, tất cả đều đã thông qua các quá trình kiểm nghiệm gắt gao của Bộ Y tế Việt Nam trước khi đưa vào sử dụng. Vì vậy, quý khách hàng có thể yên tâm 100% về chất lượng sản phẩm cũng như độ an toàn với người tiêu dùng trong suốt quá trình làm việc với Cosmetic Garden.
    </div>
    
    <div>
      <head>ĐỘI NGŨ</head>
      Đội ngũ nhân sự hơn 50 nhân viên cùng nhiều chuyên gia có kinh nghiệm và trình độ chuyên môn cao trong lĩnh vực sản xuất gia công mỹ phẩm, Cosmetic Garden Việt Nam đã nhận được sự tin tưởng của nhiều doanh nghiệp tại Việt Nam. Và trong suốt những năm vừa qua, công ty đã trở thành một trong những đơn vị chuyên gia công mỹ phẩm uy tín hàng đầu; là đối tác độc quyền cho nhiều chủ spa, thẩm mỹ viện và các thương hiệu mỹ phẩm có tiếng trên thị trường. Đồng thời, nhằm đáp ứng nhu gia công mỹ phẩm của các doanh ngũ, đội ngũ chuyên gia của chúng tôi đã không ngừng nghiên cứu, tìm hiểu để cho ra mắt những dòng mỹ phẩm mới nhất, bắt kịp thị hiếu của người tiêu dùng. Vì vậy, quý khách hàng hoàn toàn có thể yên tâm khi lựa chọn Cosmetic Garden khi muốn gia công mỹ phẩm riêng hoặc xây dựng thương hiệu mỹ phẩm của riêng mình .
    </div>

    <div class="image">
      <img src="https://cosmeticgarden.vn/wp-content/uploads/2020/09/h3.jpg" alt="introduce"/ loading="lazy">
      <img src="https://cosmeticgarden.vn/wp-content/uploads/2020/10/Doi-ngu-gia-cong-my-pham-tron-goi-Cosmetic-Garden.jpg" alt="introduce"/ loading="lazy">
    </div>
</div>

<script src="/js/user/introduce.js"></script>