<div class="introduce-container">    
    <div>
      <div class="title" id="experience"></div>
      <div class="content">
        <br> BunnyHouse tự hào là điểm đến lý tưởng cho những tín đồ đam mê làm đẹp, nơi hội tụ những sản phẩm mỹ phẩm chất lượng cao, an toàn tuyệt đối và mang lại hiệu quả vượt trội. Với hành trình hơn hai năm kinh nghiệm trong ngành mỹ phẩm, BunnyHouse đã xây dựng được uy tín vững chắc, trở thành địa chỉ đáng tin cậy cung cấp đa dạng các sản phẩm chính hãng từ những thương hiệu hàng đầu của Hàn Quốc, Nhật Bản, Mỹ, châu Âu, cùng các thương hiệu nội địa chất lượng được yêu thích.
        <br>
        <br> Nhờ vào hai năm kinh nghiệm dày dặn, đội ngũ BunnyHouse sở hữu kiến thức chuyên sâu về mỹ phẩm và xu hướng làm đẹp, sẵn sàng tư vấn tận tâm để khách hàng dễ dàng tìm được những sản phẩm phù hợp nhất với loại da – từ da dầu, da khô, da nhạy cảm đến da hỗn hợp – và nhu cầu cá nhân. Danh mục sản phẩm tại BunnyHouse vô cùng phong phú, bao gồm mỹ phẩm chăm sóc da, trang điểm, và các giải pháp làm đẹp chuyên sâu, đáp ứng mọi phong cách và sở thích
      </div>
    </div>

    <div>
      <div class="content">
        <br> Với hơn 50 dòng sản phẩm mỹ phẩm chất lượng cao, bao gồm trên 20 dòng makeup và trên 30 dòng skincare, mang đến giải pháp hoàn hảo cho mọi nhu cầu chăm sóc và tôn vinh vẻ đẹp. Với hơn hai năm kinh nghiệm trong ngành mỹ phẩm, BunnyHouse đã khẳng định vị thế là cửa hàng uy tín, cung cấp các sản phẩm chính hãng 100% từ những thương hiệu danh tiếng của Hàn Quốc, Nhật Bản, Mỹ, châu Âu, và các thương hiệu nội địa chất lượng.
        <br>
        <br> Mọi sản phẩm tại BunnyHouse đều cam kết chính hãng 100%, được nhập khẩu trực tiếp và kiểm định nghiêm ngặt, đảm bảo mang đến chất lượng cao nhất cho khách hàng. Chúng tôi không ngừng cập nhật các xu hướng làm đẹp mới nhất, từ mỹ phẩm thiên nhiên, hữu cơ đến những công nghệ chăm sóc da tiên tiến, nhằm mang lại trải nghiệm mua sắm tuyệt vời và giúp khách hàng tự tin tỏa sáng với vẻ đẹp tự nhiên.
      </div>
      <div class="title" id="product"></div>
    </div>

    <div>
      <div class="title" id="store"></div>
      <div class="content">
        <br> Sở hữu ba cửa hàng tại Hà Nội, trở thành điểm đến lý tưởng cho những tín đồ làm đẹp tại thủ đô. Tại đây, đội ngũ BunnyHouse tận tâm tư vấn, giúp bạn chọn sản phẩm phù hợp với mọi loại da, từ da dầu, da khô đến da nhạy cảm. Tất cả sản phẩm đều được nhập khẩu trực tiếp, đảm bảo chính hãng 100%, mang đến trải nghiệm mua sắm đẳng cấp và đáng tin cậy. Hãy ghé thăm ba cửa hàng tại Hà Nội của BunnyHouse để khám phá thế giới làm đẹp rạng rỡ!
      </div>
    </div>

    <div class="image">
      <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711070727/web-img/logo_xkavlj.webp" alt="introduce"/ loading="lazy">
      <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711070727/web-img/logo_xkavlj.webp" alt="introduce"/ loading="lazy">
      <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711070727/web-img/logo_xkavlj.webp" alt="introduce"/ loading="lazy">
    </div>
</div>

<script src="/js/user/introduce.js"></script>