<div class="profile-container">
  <div class="sidebar-menu">
    <div class="avatar">
      <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711070727/web-img/logo_xkavlj.webp" loading="lazy">
      <span class="user-name"></span>
    </div>
    <div class="tag">
      <span class="profile"><i class="fi fi-br-circle-user"></i>Thông tin cá nhân</span>
      <span class="order"><i class="fi fi-rr-piggy-bank"></i>Thông tin đơn hàng</span>
      <span class="rate-order"><i class="fi fi-rr-piggy-bank"></i>Đánh giá đơn hàng</span>
      <span class="feedBack"><i class="fi fi-rr-feedback-alt"></i>Góp ý</span>
    </div>
  </div>

  <div class="content">

  </div>
</div>   

<script src="/js/user/profileInfo.js"></script>