<div class="sign-up-container">
  <div class="sign-up-form">
    <img src="https://res.cloudinary.com/bunny-store/image/upload/v1737559909/web-img/377cb88c-c18e-40e4-b653-fc30a1dad316.png" loading="lazy">    
    <div class="form">
      <p class="form-title">Đăng ký</p>
      <div class="form-input">
        <div class="form-group">
          <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div>

        <div class="form-group code" style="display: none">
        </div>

        <div class="form-group name" style="display: none">
        </div>

        <div class="form-group password" style="display: none">
        </div>

        <div class="form-group confirm-password" style="display: none">
        </div>

        <div class="form-group">
          <p class="wrong-info"></p> 
        </div>

        <div class="form-action">
          <button class="submit-email">Đăng Ký Email</button>
        </div>

        <div class="sign-in">
          <p>Đã có tài khoản ? </p>
          <a href="/authentication/sign-in"><p style="color: red; text-decoration:underline">Đăng nhập ngay thôi</p></a>
          <a href="/home"><p style="color: red; text-decoration:underline">Tiếp tục Shopping</p></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/user/signUp.js"></script>