<div class="admin-notification"><span class="noti-quantity">0</span><i class="fi fi-rr-bell"></i></div>

<div class="notification-box" style="display: none;">
  <div class="box-header">
    <span>Thông báo</span>
    <i class="fi fi-rr-progress-complete"></i>
  </div>
  <div class="box-content">
    <div class="notification-details unread">
      <img src="https://cosmeticgarden.vn/wp-content/uploads/2024/12/logo-xanh-gradient.png" alt="loading">
      <a href="">Bạn có đơn hàng mới, bấm vào để xem chi tiết</a>
    </div>
    <div class="notification-details">
      <img src="https://cosmeticgarden.vn/wp-content/uploads/2024/12/logo-xanh-gradient.png" alt="loading">
      <a href="">Bạn có đơn hàng mới, bấm vào để xem chi tiết</a>
    </div>
    <div class="notification-details unread">
      <img src="https://cosmeticgarden.vn/wp-content/uploads/2024/12/logo-xanh-gradient.png" alt="loading">
      <a href="">Bạn có đơn hàng mới, bấm vào để xem chi tiết</a>
    </div>
    <div class="notification-details">
      <img src="https://cosmeticgarden.vn/wp-content/uploads/2024/12/logo-xanh-gradient.png" alt="loading">
      <a href="">Bạn có đơn hàng mới, bấm vào để xem chi tiết</a>
    </div>
    <div class="notification-details">
      <img src="https://cosmeticgarden.vn/wp-content/uploads/2024/12/logo-xanh-gradient.png" alt="loading">
      <a href="">Bạn có đơn hàng mới, bấm vào để xem chi tiết</a>
    </div>
  </div>
</div>

<script src="/js/partials/adminNotification.js"></script>