<div class="left">
  <img src="https://res.cloudinary.com/bunny-store/image/upload/v1737952843/web-img/ce6a1d06cebcd9f99ae2cdbfb98e899a-min_ph39yo.webp" alt="advertise">
</div>
<div class="right">
  <img src="https://res.cloudinary.com/bunny-store/image/upload/v1737952802/web-img/62be46c28b261fa2098fb9d90336cdd0-min_egwu2x.webp" alt="advertise">
  <img src="https://res.cloudinary.com/bunny-store/image/upload/v1737952795/web-img/d1216aadff5a22ba25a4f0689a5e2157-min-600x338_nws8h2.webp" alt="advertise">
</div>