<div class="store-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN CỬA HÀNG</td></tr>
      </thead>
      <tr>
        <td>Mã Cửa hàng</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Tên cửa hàng</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Địa chỉ cửa hàng</td>
        <td><input type="text" id="address"></td>
      </tr>
      <tr>
        <td>Mô tả chi tiết</td>
        <td><input type="text" id="details"></td>
      </tr>
      <tr>
        <td>Doanh thu cửa hàng</td>
        <td><input type="text" id="total" disabled></td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="4">DANH SÁCH NHÂN VIÊN</td></tr>
      </thead>
      <thead>
        <tr>
          <td>Mã nhân viên   </td>
          <td>Tên nhân viên  </td>
          <td>Vị trí làm việc</td>
          <td>Chi tiết       </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </div>
</div>

<script src="/js/admin/detail/store.js"></script>